@charset "utf-8";

/* animation */
@keyframes marquee { 
    0% { left: 0; } 
    100% { left: -100%; }
}
@keyframes coloron {
    to {
        color: #00166B;
    }
}

/* start 375 */
.mobile { display: block; }
.desktop { display: none; }
.phone { display: block; }
.not_phone { display: none; }

html, body {
    background-color: #000;
    overflow-x: hidden;
}

/* header 375 */
header {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 80px;
    border-bottom: 1px solid rgba(255,255,255,.1);
    transition: all .5s;
}

.header_inner {
    width: 88%; /* 330 / 375 */
    height: 100%;
    margin: 0 auto;
    padding-top: 21px;
}
.header_inner > a {
    display: block;
    float: left;
    width: 141px;
    height: 38px;
    margin-left: -5px;
    background: url(../img/logo/aimax_white.png) no-repeat center/cover;
}
header.on {
    height: 60px;
    background-color: black;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
header.on .header_inner {
    padding-top: 16px;
}
header.on .header_inner > a {
    width: 104px;
    height: 28px;
}
.youtube_btn {
    display: block;
    float: right;
    width: 32px;
    height: 24px;
    text-indent: -9999px;
    overflow: hidden;
    margin-top: 7px;
    margin-right: 9.091%; /* 30 / 330 */
    background: url(../img/icon/youtube_white.png) no-repeat center/contain;
}
header.on .youtube_btn {
    width: 25px;
    height: 18px;
    margin-top: 5px;
    margin-right: 6%;
    background-image: url(../img/icon/youtube_color.png);
}
.open_menu_btn {
    display: block;
    float: right;
    width: 28px;
    height: 24px;
    margin-top: 7px;
}
header.on .open_menu_btn {
    width: 20px;
    height: 19px;
    margin-top: 4.5px;
}
.open_menu_btn span {
    display: block;
    width: 28px;
    height: 4px;
    background-color: #fff;
    text-indent: -9999px;
    margin-bottom: 6px;
    border-radius: 2px;
}
header.on .open_menu_btn span {
    width: 20px;
    height: 3px;
    background-color: #ffffff;
    margin-bottom: 5px;
}
header:hover {
    background-color: #ffffff;
}
header:hover .header_inner > a {
    background-image: url(../img/logo/aimax_color.png);
}
header:hover .youtube_btn {
    background-image: url(../img/icon/youtube_color.png);
}
header:hover span {
    background-color: #333333;
}

/* main_banner 375 */
main {
    width: 100%;
    height: 100%;
}
#main_banner {
    height: 100vh;
}
.slider {
    height: 100vh;
    display: block;
}
.slide {
    position: relative;
    height: 100vh;
    display: block;
}

.banner_1 { background: url(../img/background/bg_1.png) no-repeat center/cover; }
.banner_2 { background: url(../img/background/bg_2.png) no-repeat left/cover; }
.banner_3 { background: url(../img/background/bg_3.png) no-repeat center/cover; }

.content_wrap {
    position: absolute;
    width: 88%; /* 330 / 375 */
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
}
.slide .content_wrap h2 {
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 26px;
    margin-bottom: 20px;
}
.slide .content_wrap span {
    display: block;
    font-size: 1.4rem;
    line-height: 20px;
    margin-bottom: 15px;
    font-weight: 400;
}
.slide .content_wrap p {
    font-size: 1.2rem;
    line-height: 18px;
    font-weight: 400;
    margin-bottom: 20px;
    opacity: .8;
}
.pager_wrap {
    position: relative;
    margin: 0 auto;
    width: 134px;
    height: 24px;
}
.pager {
    width: 90px;
    height: 10px;
}
.pager > span {
    display: block;
    float: left;
    width: 10px;
    height: 10px;
    border: 1px solid #ffffff;
    border-radius: 5px;
    margin-top: 7px;
    margin-right: 20px;
    cursor: pointer;
}
.pager > span.on {
    border: none;
    background-color: #fff;
}
.play_n_pause_btn {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 44px;
    height: 24px;
    background: url(../img/btn/pause_btn.png) no-repeat center/contain;

    cursor: pointer;
}
.play_n_pause_btn.pause {
    background-image: url(../img/btn/play_btn.png);
}

/* winged_copy 375 */

#winged_copy {
    position: relative;
    display: block;
    width: 100%;
    background-color: white;
    padding-top: 54px;
    padding-bottom: 122px;
}

.marquee {
    height: 72px;
    width: 1050px;

    overflow: hidden;
    position: relative;
}
.marquee div {
    display: block;
    width: 200%;
    height: 72px;

    position: absolute;
    overflow: hidden;
    
    color: #EDEDED;

    animation: marquee 25s linear infinite;
}
.marquee span {
    float: left;
    width: 50%;
    font-size: 5rem;
    font-weight: 900;
    line-height: 72px;
}

.txt_wrap {
    width: 88%; /* 330 / 375 */
    text-align: center;
    position: absolute;
    top: 60px; left: 50%;
    transform: translateX(-50%);
}
.txt_wrap h2 {
    font-size: 1.6rem;
    font-weight: bold;
    line-height: 23px;
    margin-bottom: 20px;
}
.txt_wrap p.mobile {
    font-size: 1.2rem;
    font-weight: 400px;
    line-height: 17px;
}
span.bold {
    font-weight: bold;
}
span.green {
    color: #1E888A !important;
}

/* solution_strength 375 */
#service {
    width: 100%;
    height: 547px;
    background: url(../img/background/bg_4_m.png) no-repeat center center/cover;
    background-size: 100%;
}
.p_service_wrap {
    width: 88%; /* 330 / 375 */
    height: 547px;
    margin: 0 auto;
    padding: 60px 0;
}
.p_service_wrap > div {
    width: 100%;
    height: 80px;
    margin-bottom: 30px;
    transition: all 1s;
    cursor: pointer;
}
.p_service_wrap > div:hover .p_icon_wrap {
    transform: scale(1.02);
}
.p_service_wrap > div:hover .p_icon_wrap {
    border-color: #ffffff;
}
.p_service_wrap > div:last-of-type {
    margin-bottom: 0;
}
.p_service_wrap .p_icon_wrap {
    position: relative;
    width: 80px;
    height: 80px;
    border-radius: 40px;
    border: 1px solid #00166B;
    transition: 1s;
}
.p_icon_wrap.left {
    float: left;
    margin-right: 6.061%; /* 20 / 330 */
}
.p_icon_wrap.right {
    float: right;
    margin-left: 6.061%; /* 20 / 330 */
}
.p_icon_wrap > .icon {
    position: absolute;
    display: block;
    width: 64px;
    height: 64px;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    background: url(../img/icon/service_1_w.png) no-repeat center/contain;
    background-size: 64px 64px;

    backface-visibility: hidden;
    transition: 1s;
}
.p_icon_wrap > .icon_f.icon_2 {
    background-image: url(../img/icon/service_2_w.png);
}
.p_icon_wrap > .icon_f.icon_3 {
    background-image: url(../img/icon/service_3_w.png);
}
.p_icon_wrap > .icon_f.icon_4 {
    background-image: url(../img/icon/service_4_w.png);
}

.p_icon_wrap > .icon_f {
    position: absolute;
    transform: translate(-50%, -50%) rotateY(0deg);
}

.p_icon_wrap > .icon_b {
    transform: translate(-50%, -50%) rotateY(-180deg);
}
.p_icon_wrap > .icon_b.icon_1 {
    background-image: url(../img/icon/service_1_b.png);
}
.p_icon_wrap > .icon_b.icon_2 {
    background-image: url(../img/icon/service_2_b.png);
}
.p_icon_wrap > .icon_b.icon_3 {
    background-image: url(../img/icon/service_3_b.png);
}
.p_icon_wrap > .icon_b.icon_4 {
    background-image: url(../img/icon/service_4_b.png);
}

.p_service_wrap > div:hover .icon.icon_f {
    transform: translate(-50%, -50%) rotateY(180deg);
}
.p_service_wrap > div:hover .icon.icon_b {
    transform: translate(-50%, -50%) rotateY(0deg);
}

.p_service_wrap > div > p {
    display: block;
    font-size: 2rem;
    line-height: 29px;
    padding-top: 25.5px;
    color: #ffffff;
}
.p_service_wrap > div:nth-of-type(2n) > p {
    float: right;
}

/* performance 375 */
#performance {
    width: 100%; /* 330 / 375 */
    padding: 60px 6%;
    background: linear-gradient(180deg, #ffffff, #ffffff 95%, #eeeeee);
    text-align: center;
}
#performance h2 {
    color: #1E888A;
    font-size: 2.6rem;
    font-weight: 900;
    margin-bottom: 10px;
}
#performance .span_1 {
    display: block;
    width: 300px;
    height: 25px;
    margin: 0 auto 10px;
    font-size: 1.7rem;
    font-weight: bold;
    line-height: 25px;

    background: url(../img/background/span_bg.png) no-repeat center/contain;
    background-size: 300px 25px;

    color: #ffffff;
}
#performance .span_2 {
    font-size: 2.5rem;
    font-weight: 900;
    color: #EDEDED;
    line-height: 36px;
}
#performance h3 {
    font-size: 1.6rem;
    font-weight: 900;
    margin: 40px 0 5px;
}
#performance > p {
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 17px;
    margin-bottom: 20px;
}

.rates_wrap {
    width: 330px;
    height: 80px;
    margin: 15px auto 0;
    padding-top: 3px;  
}
.rates_wrap .rate {
    box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.17);
}
.rate_wrap {
    color: #1E888A;
    
}
.rate_wrap .count_num, 
.rate_wrap .count_num2 {
    display: inline;
    font-size: 3.5rem;
    font-weight: 900;
    line-height: 51px;
}
.rate_wrap .unit {
    font-size: 3rem;
    font-weight: bold;
    line-height: 43px;
    padding-top: 6px;
}
.rate_1 {
    float: left;
    width: 177px;
    height: 80px;
    margin-right: 10px;
}
.rate_1 .rate_wrap .unit {
    font-weight: 900;
}
.rate_2 {
    float: left;
    width: 143px;
    height: 80px;
}
.rates_wrap .rate > span {
    display: block;
    font-size: 1.2rem;
    font-weight: bold;
    line-height: 17px;
    margin-top: -2px;
    color: #333333;
}


.strengths_wrap {
    width: 330px;
    margin: 30px auto 50px;
}
.strength {
    float: left;
    margin-right: 20px;
}
.strength:last-of-type {
    margin-right: 0;
}
.strength > span {
    display: block;
    float: left;
    width: 15px;
    height: 15px;
    background: url(../img/icon/check.png) no-repeat center/contain;
    background-size: 15px 15px;
    margin-top: 2px;
    margin-right: 5px;
}
.strength > p {
    float: left;
    font-size: 1.05rem;
    line-height: 15px;
}
#performance h4 {
    text-align: left;
    width: 330px;
    font-size: 1.3rem;
    color: #118183;
    font-weight: bold;
    margin: 0 auto 14px;
}
#performance .table_img {
    display: block;
    width: 330px;
    height: 126px;
    margin: 0 auto;
    background: url(../img/table_img.png) no-repeat center/contain;
    background-size: 330px;
    overflow: hidden;
    text-indent: -9999px;
}
table {
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid #f2f2f2;

    box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.17);
}
caption {
    text-align: left;
    font-size: 1.3rem;
    font-weight: bold;
    margin-bottom: 15px;
    color: #118183;
}
tr {
    height: 18px !important;
}
th {}
.tr_parent {
    height: 30px !important;
    background-color: #f2f2f2;
}
.tr_child {
    height: 18px;
    line-height: 18px;
}
.text_align_left {
    text-align: left;
    padding-left: 5px;
}
span.yes {
    display: block;
    width: 8px;
    height: 8px;
    border-radius: 4px;
    background-color: #595959;
    margin: 0 auto;
    text-indent: -9999px;
    overflow: hidden;
}
span.winged_yes {
    background-color: #1E888A;
}
.check_list {
    font-size: 0.8rem;
    font-weight: medium;
    color: #333333;
}
span.char:nth-of-type(1).on {
    animation: coloron .1s forwards;
}
span.char:nth-of-type(2).on {
    animation: coloron .1s .1s forwards;
}
span.char:nth-of-type(3).on {
    animation: coloron .1s .2s forwards;
}
span.char:nth-of-type(4).on {
    animation: coloron .1s .3s forwards;
}
span.char:nth-of-type(5).on {
    animation: coloron .1s .4s forwards;
}
span.char:nth-of-type(6).on {
    animation: coloron .1s .5s forwards;
}
span.char:nth-of-type(7).on {
    animation: coloron .1s .6s forwards;
}
span.char:nth-of-type(8).on {
    animation: coloron .1s .7s forwards;
}
span.char:nth-of-type(9).on {
    animation: coloron .1s .8s forwards;
}
span.char:nth-of-type(10).on {
    animation: coloron .1s .9s forwards;
}
span.char:nth-of-type(11).on {
    animation: coloron .1s 1s forwards;
}
span.char:nth-of-type(12).on {
    animation: coloron .1s 1.1s forwards;
}
span.char:nth-of-type(13).on {
    animation: coloron .1s 1.2s forwards;
}
span.char:nth-of-type(14).on {
    animation: coloron .1s 1.3s forwards;
}
span.char:nth-of-type(15).on {
    animation: coloron .1s 1.4s forwards;
}
span.char:nth-of-type(16).on {
    animation: coloron .1s 1.5s forwards;
}
span.char:nth-of-type(17).on {
    animation: coloron .1s 1.6s forwards;
}
span.char:nth-of-type(18).on {
    animation: coloron .1s 1.7s forwards;
}

.highlight_box {
    display: block;
    float: right;
    width: 66px;
    height: 170px;
    border: 2px solid #ffffff;
    z-index: 100;
    margin-top: -167px;

    transition: border 1s;
}
.highlight_box.on {
    border: 2px solid #ff0000;

}

/* end 375 */

/* start 768 */
@media all and (min-width: 768px) {
    /* header 768 */
    .header_inner {
        width: 88.021%; /* 676 / 768 */
        padding-top: 21px;
    }
    .header_inner > a {
        width: 165px;
        height: 44px;
        margin-left: -5px;
    }
    .youtube_btn {
        width: 36px;
        height: 26px;
        margin-top: 9px;
        margin-right: 5.917%; /* 40 / 676 */
    }
    .open_menu_btn {
        width: 30px;
        height: 26px;
        margin-top: 9px;
    }
    .open_menu_btn span {
        width: 30px;
        height: 4px;
        margin-bottom: 7px;
        border-radius: 2px;
    }

    /* main_banner 768 */
    .content_wrap {
        width: 88.021%; /* 676 / 768 */
    }
    .slide .content_wrap h2 {
        font-size: 3rem;
        line-height: 43px;
        margin-bottom: 30px;
    }
    .slide .content_wrap span {
        font-size: 1.8rem;
        line-height: 26px;
        margin-bottom: 20px;
        font-weight: 500;
    }
    .slide .content_wrap p {
        font-size: 1.4rem;
        line-height: 18px;
        font-weight: 300;
        margin-bottom: 40px;
    }

    /* winged_copy 768 */

    #winged_copy {
        padding-top: 80px;
        padding-bottom: 107px;
    }

    .marquee {
        height: 116px;
        width: 1700px;
    }
    .marquee div {
        height: 116px;
        animation: marquee 30s linear infinite;
    }
    .marquee span {
        font-size: 8rem;
        font-weight: 900;
        line-height: 116px;
    }

    .txt_wrap {
        width: 88.021%; /* 676 / 768 */
        top: 80px;
    }
    .txt_wrap h2 {
        font-size: 3rem;
        font-weight: bold;
        line-height: 43px;
        margin-bottom: 20px;
    }
    .txt_wrap p.mobile {
        font-size: 1.4rem;
        font-weight: 400px;
        line-height: 20px;
    }

    /* service 768 */
    .phone {
        display: none;
    }
    .not_phone {
        display: block;
    }
    #service {
        height: 297px;
        background: url(../img/background/bg_4.png) no-repeat center center/cover;
        background-size: 100%;
    }
    .service_wrap {
        width: 582px;
        margin: 0 auto;
        padding: 80px 0;
    }
    .service_wrap > div {
        float: left;
        margin-right: 40px;
        transition: all 1s;
    }
    .service_wrap > div:nth-of-type(1){
        width: 126px;
    }
    .service_wrap > div:nth-of-type(2){
        width: 100px;
    }
    .service_wrap > div:nth-of-type(3){
        width: 114px;
    }
    .service_wrap > div:last-of-type {
        width: 122px;
        margin-right: 0;
    }
    .service_wrap > div .icon_wrap {
        display: block;
        width: 100px;
        height: 100px;
        position: relative;
        border: 1px solid #00166B;
        border-radius: 50%;
        margin: 0 auto 20px;
        transition: 1s;
    }
    .icon_wrap > .icon {
        position: absolute;
        display: block;
        width: 80px;
        height: 80px;
        top: 50%; left: 50%;
        transform: translate(-50%, -50%);
        background: url(../img/icon/service_1_w.png) no-repeat center/contain;
        background-size: 80px 80px;
        backface-visibility: hidden;
        transition: 1s;
    }
    .icon_wrap > .icon_f.icon_2 {
        background-image: url(../img/icon/service_2_w.png);
    }
    .icon_wrap > .icon_f.icon_3 {
        background-image: url(../img/icon/service_3_w.png);
    }
    .icon_wrap > .icon_f.icon_4 {
        background-image: url(../img/icon/service_4_w.png);
    }
    .icon_wrap > .icon_b.icon_1 {
        background-image: url(../img/icon/service_1_b.png);
    }
    .icon_wrap > .icon_b.icon_2 {
        background-image: url(../img/icon/service_2_b.png);
    }
    .icon_wrap > .icon_b.icon_3 {
        background-image: url(../img/icon/service_3_b.png);
    }
    .icon_wrap > .icon_b.icon_4 {
        background-image: url(../img/icon/service_4_b.png);
    }
    .icon_wrap > .icon_f {
        position: absolute;
        transform: translate(-50%, -50%) rotateY(0deg);
    }
    .icon_wrap > .icon_b {
        transform: translate(-50%, -50%) rotateY(-180deg);
    }
    .service_wrap > div:hover .icon_f {
        transform: translate(-50%, -50%) rotateY(180deg);
    }
    .service_wrap > div:hover .icon_b {
        transform: translate(-50%, -50%) rotateY(0deg);
    }
    .service_wrap > div:hover .icon_wrap {
        transform: scale(1.02);
        border-color: #fff;
    }
    .service_wrap > div > span {
        display: block;
        width: 100%;
        height: auto;
        font-size: 1.2rem;
        color: #fff;
        text-align: center;
    }
}
/* end 768 */

/* start 1024 */
@media all and (min-width: 1024px) {
    /* header 1024 */
    .header_inner {
        width: 91.016%; /* 932 / 1024 */
        padding-top: 10px;
    }
    .header_inner > a {
        display: block;
        float: left;
        width: 227px;
        height: 60px;
        margin-left: -9px;
    }
    .youtube_btn {
        display: block;
        float: right;
        width: 45px;
        height: 31px;
        text-indent: -9999px;
        overflow: hidden;
        margin-top: 14.5px;
        margin-right: 5.365%; /* 50 / 932 */
        background: url(../img/icon/youtube_white.png) no-repeat center/contain;
    }
    .open_menu_btn {
        display: block;
        float: right;
        width: 38px;
        height: 31px;
        margin-top: 14.5px;
    }
    .open_menu_btn span {
        display: block;
        width: 38px;
        height: 5px;
        background-color: #fff;
        text-indent: -9999px;
        margin-bottom: 8px;
        border-radius: 2px;
    }

    /* main_banner 1024 */
    .content_wrap {
        width: 91.016%; /* 932 / 1024 */
    }
    .slide .content_wrap h2 {
        font-size: 3.5rem;
        line-height: 51px;
    }
    .slide .content_wrap span {
        font-size: 2rem;
        line-height: 29px;
    }
    .slide .content_wrap p {
        font-size: 1.5rem;
        line-height: 23px;
    }
    
    /* winged_copy 1024 */

    #winged_copy {
        padding-top: 80px;
        padding-bottom: 110px;
    }
    .txt_wrap {
        width: 91.016%; /* 932 / 1024 */
        top: 80px;
    }
    .txt_wrap h2 {
        font-size: 3.5rem;
        line-height: 51px;
        margin-bottom: 20px;
    }

    /* service 1024 */
    #service {
        height: 314px;
    }
    .service_wrap {
        width: 740px;
    }
    .service_wrap > div {
        width: 125px;
        margin-right: 80px;
    }
    .service_wrap > div:nth-of-type(1){
        width: 126px;
    }
    .service_wrap > div:nth-of-type(2){
        width: 124px;
    }
    .service_wrap > div:nth-of-type(3){
        width: 125px;
    }
    .service_wrap > div:last-of-type {
        width: 125px;
        margin-right: 0;
    }
    .service_wrap > div .icon_wrap {
        width: 120px;
        height: 120px;
        position: relative;
        border: 1px solid #00166B;
        border-radius: 50%;
    }
    .icon_wrap > .icon {
        width: 90px;
        height: 90px;
        background-size: 90px 90px;
    }

}
/* end 1024 */

/* start 1280 */
@media all and (min-width: 1280px) {
    .mobile { display: none; }
    .desktop { display: block; }
    /* header 1280 */
    .header_inner {
        width: 92.188%; /* 1188 / 1280 */
    }
    nav {
        display: block;
        float: right;
    }
    nav ul {
        margin-top: 15px;
        height: 30px;
    }
    nav ul li {
        display: block;
        float: right;
        margin-left: 50px; 
        transition: transform .5s;

    }
    nav ul li:hover {
        transform: scale(1.02);
    }
    nav ul li a {
        line-height: 30px;
        font-size: 2.1rem;
        font-weight: bold;
        color: #fff;
    } 
    nav ul li:first-of-type a {
        line-height: 1;
        margin-top: 2px;
        display: block;
        width: 36px;
        height: 26px;
        background: url(../img/icon/youtube_white.png) no-repeat center/contain;
    }
    header:hover nav ul li a {
        color: #333333;
    }
    header:hover nav ul li:first-of-type a {
        background-image: url(../img/icon/youtube_color.png);
    }

    /* main_banner 1280 */
    .content_wrap {
        width: 92.188%; /* 1188 / 1280 */
    }
    .slide .content_wrap h2 {
        font-size: 4.5rem;
        line-height: 65px;
    }
    .slide .content_wrap span {
        font-size: 2.5rem;
        line-height: 36px;
    }
    .slide .content_wrap p {
        font-size: 1.7rem;
        line-height: 25px;
    }
    
    /* winged_copy 375 */

    #winged_copy {
        padding-top: 100px;
        padding-bottom: 120px;
    }

    .marquee {
        height: 150px;
        width: 2500px;
    }
    .marquee div {
        width: 200%;
        height: 150px;
        animation: marquee 35s linear infinite;
    }
    .marquee span {
        font-size: 12rem;
        line-height: 150px;
    }

    .txt_wrap {
        width: 92.188%; /* 1188 / 1280 */
        top: 110px;
    }
    .txt_wrap h2 {
        font-size: 4.5rem;
        line-height: 65px;
        margin-bottom: 30px;
    }
    .txt_wrap p {
        font-size: 2rem;
        line-height: 30px;
    }

    /* service 1280 */
    #service {
        height: 342px;
    }
    .service_wrap {
        width: 1120px;
    }
    .service_wrap > div {
        width: 190px;
        margin-right: 120px;
    }
    .service_wrap > div:nth-of-type(1){
        width: 190px;
    }
    .service_wrap > div:nth-of-type(2){
        width: 190px;
    }
    .service_wrap > div:nth-of-type(3){
        width: 190px;
    }
    .service_wrap > div:last-of-type {
        width: 190px;
    }
    .service_wrap > div .icon_wrap {
        width: 150px;
        height: 150px;
    }
    .icon_wrap > .icon {
        width: 120px;
        height: 120px;
        background-size: 120px 120px;
    }
    .service_wrap > div > span {
        font-size: 1.8rem;
    }
}
/* end 1280 */

/* start 1920 */
@media all and (min-width: 1920px) {
    .header_inner {
        width: 1828px;
    }
    /* main_banner 1920 */
    .content_wrap {
        width: 1828px;
    }
    .slide .content_wrap h2 {
        font-size: 5rem;
        line-height: 72px;
    }
    .slide .content_wrap span {
        font-size: 3rem;
        line-height: 43px;
    }
    .slide .content_wrap p {
        font-size: 1.9rem;
        line-height: 28px;
    }
   
}
/* end 1920 */